# Confluence Configuration
CONFLUENCE_URL=https://iammanojk21-1773239814284.atlassian.net
CONFLUENCE_USERNAME=iammanojk21@gmail.com
CONFLUENCE_API_TOKEN=ATATT3xFfGF0M2ZlIRCy99oZJGGpIaVvEgE4z0wLxxnXejsi9cU3oliZ-tydWahUbzhfXhcO2O9-DnJjrBrMc_ZDDOh4ZI9dlFPiN73HDywT-VY45e1m5fZl0zIR8ZCdxea8fN-pX-yX8RV8KP1ZBHvobQJjv4SpYG24g82O64X2peMel3OrWNk=52792B78
CONFLUENCE_CLOUD=true